#link{
    font-size: 20px;
    color: rgb(121, 11, 33);
    text-decoration: none;
}
#link:hover{
    font-size: 25x;
    color: black;
    text-decoration: underline;
}
.cabecalho{
    background-color: red;
    border: 10px;
    border-color: rgb(0, 0, 0)
    border-style: dashed;
    margin: 10px;
    color: white;
    font-weight: 400;
    
}